{
    "extends": [
        "stylelint-config-standard-scss"
    ],
    "rules": {
        "declaration-block-single-line-max-declarations": 1,
        "length-zero-no-unit": true,
        "color-function-notation": "modern",
        "color-hex-length": "short",
        "selector-attribute-quotes": "always",
        "selector-class-pattern": [
            "^[a-z][a-z0-9-]*(__[a-z][a-z0-9-]*)?(--[a-z][a-z0-9-]*)?$",
            {
                "message": "El patró no es bloc__element--modificador"
            }
        ]
    }
}