.footer {
    width: 100%;

    &__seccio--uoc {
        color: #fff;
        background-color: $uoc-corporate;
    }

    @supports (display: oklch) {
        &__seccio--uoc {
            background-color: $uoc-corporate-p3;
        }
    }
}
