.footer {
  container: footer / size;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $secondary;
  padding-top: 1%;

  &__separador {
    margin-inline: 25cqi;
    width: 50cqi;
  }

  &__seccio {
    container: seccio / size;
    min-height: 50cqb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  &__seccio:first-child {
    justify-content: center;
  }

  &__columna {
    margin-inline: 3cqw;
    &:has(.footer__imatge) {
      margin-inline: 2cqw;
      width: 30cqi;
    }

    &:has(.footer__credits) {
      margin-right: 3cqw;
      margin-left: 0;
      width: 70cqi;
    }
  }

  &__llista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__enllac {
    text-decoration: none;
    font-weight: bold;
    color: $secondary;
  }

  &__enllac:hover {
    color: $link-hover-color;
  }

  &__imatge {
    width: 20cqw;
    height: 100%;
    object-fit: contain;
  }

  &__credits {
    text-align: justify;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 1em;
  }

  &__seccio--uoc {
    color: #fff;
    background-color: $uoc-corporate;
    justify-content: space-between;
  }
}

@container footer (min-width: 994px) {
  .footer__llista {
    gap: 10cqw;
  }
}

@container footer (max-width: 993px) and (min-width: 738px) {
  .footer__columna {
    padding-block: 1cqh;
  }

  .footer__llista {
    gap: 5cqw;
  }
}

@container footer (max-width: 737px) {
  .footer__llista {
    flex-direction: column;
    text-align: center;
    gap: 1cqw;
  }
}

@container seccio (max-height: 125px) {
  .footer__imatge {
    width: 15cqw;
    margin-block-end: 15cqb;
  }
}
