html {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  background-color: $bg-color-primary;
  color: $secondary;
}

header {
  min-height: 10vh;
}

main {
  min-height: 60vh;
}

footer {
  height: 30vh;
}
