html {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  background-color: $bg-color-primary;
  color: $uoc-corporate;
}
header {
  min-height: 10vh;
}
main {
  width: 100vw;
  min-height: 60vh;
}

footer {
  height: 30vh;
}

@supports (display: oklch) {
  body {
    background-color: $bg-color-primary-p3;
  }
}
