.participants {
  display: none;

  &__titol {
    text-align: center;
    font-size: calc(1em + 2vw);
  }

  &__contenidor {
    container: participants / inline-size;
    width: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.participant {
  margin-inline: 1rem;
  margin-block: 0.5rem;
}

@container participants (min-width: 994px) {
  .participant {
    flex-basis: 30cqw;
  }
}

@container participants (min-width: 738px) and (max-width: 993px) {
  .participant {
    flex-basis: 40cqw;
  }
}

@container participants (max-width: 737px) {
  .participant {
    flex-basis: 100cqw;
  }
}

