<footer class="footer container-fluid">
  <div class="footer__seccio row mb-3">
    <div class="footer__columna col text-center">
      <p class="p-4">This is the footer. Should it include contact information?</p>
    </div>
  </div>
  <div class="footer__seccio row mb-3">
    <div class="footer__columna col-2 text-center">
      <img class="footer__logo img-fluid" src="/src/assets/images/logo.png" alt="Logo club AnisTenis" width="60"
        height="60">
    </div>
    <div class="footer__columna col-6">
      <ul class="footer__llista list-unstyled d-flex justify-content-between">
        <li><a class="footer__enllac text-decoration-none fw-bold text-secondary" href="/">Inici</a></li>
        <li><a class="footer__enllac text-decoration-none fw-bold text-secondary" href="#"
            data-target='participants'>Participants</a></li>
        <li><a class="footer__enllac text-decoration-none fw-bold text-secondary" href="#" data-target='blog'>Blog</a>
        </li>
        <li><a class="footer__enllac text-decoration-none fw-bold text-secondary" href="#"
            data-target='contacte'>Contacta'ns</a>
        </li>
      </ul>
    </div>
    <div class="footer__columna col-2 text-center">
      <a class="footer__enllac text-decoration-none fw-bold text-secondary" href="#"><i
          class="fa-brands fa-x-twitter"></i></a>
      <a class="footer__enllac text-decoration-none fw-bold text-secondary" href="#"><i
          class="fa-brands fa-facebook-f"></i></a>
      <a class="footer__enllac text-decoration-none fw-bold text-secondary" href="#"><i
          class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer__seccio footer__seccio--uoc row p-4">
    <div class="footer__columna col">
      <img class="footer__imatge" src="/src/assets/images/logo_uoc.png" alt="Logo UOC" />
    </div>
    <div class="footer__columna col">
      <p class="footer__credits">&copy; Novembre 2023 - Roser Fuster Bertomeu </p>
    </div>
  </div>
</footer>