<footer class="footer">
        <div class="footer__seccio row p-4">
            <div class="col text-center">
                <p>This is the footer. Sould it include contact information?</p></div>
        </div>
        <hr>
        <div class="footer__seccio row my-2">
            <div class="col-2 text-center"> 
                <a class="navbar-brand me-auto ms-5" href="#">
                <img src="/src/assets/images/logo2.png" alt="Logo club OlivetesTenis" width="60" height="60" >
            </a>
        </div>
        <div class="col-7 px-5"> 
          <div class="row">
            <div class="col"><a class="text-decoration-none fw-bold text-dark" href="/">Inici</a></div>
            <div class="col"><a class="text-decoration-none fw-bold text-dark" href="#">Page two</a></div>
            <div class="col"><a class="text-decoration-none fw-bold text-dark" href="#">Page three</a></div>
            <div class="col"><a class="text-decoration-none fw-bold text-dark" href="#">Page four</a></div>
          </div>
        </div>
        <div class="col-2"> 
          <div class="row fw-bold ">
            <div class="col text-end"><a class="text-decoration-none fw-bold text-dark" href="#"><i class="fa-brands fa-x-twitter"></i></a></div>
            <div class="col text-center"><a class="text-decoration-none fw-bold text-dark" href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
            <div class="col text-start"> <a class="text-decoration-none fw-bold text-dark" href="#"><i class="fa-brands fa-instagram"></a></div>
          </div>
         </div>
        </div>
        <div class="footer__seccio--uoc row mt-2 p-4">
            <div class="col-2">
                <img class="img-fluid" src="/src/assets/images/logo.png" alt="Logo UOC"/> 
            </div>
            <div class="col-10">
                <p>&copy; Novembre 2023 - Roser Fuster Bertomeu </p>
            </div>    
</footer>