<footer class="footer container-fluid h-100">
    <div class="footer__seccio row h-100 p-4 mb-3">
        <div class="col text-center">
            <p>This is the footer. Should it include contact information?</p>
        </div>
    </div>

    <div class="footer__seccio row h-100 mb-3">
        <div class="col-2 text-center">
            <img src="/src/assets/images/logo2.png" alt="Logo club OlivetesTenis" width="60" height="60">
        </div>
        <div class="col-7">
            <ul class="list-unstyled d-flex justify-content-between">
                <li><a class="text-decoration-none fw-bold text-dark" href="/">Inici</a></li>
                <li><a class="text-decoration-none fw-bold text-dark" href="#">Page two</a></li>
                <li><a class="text-decoration-none fw-bold text-dark" href="#">Page three</a></li>
                <li><a class="text-decoration-none fw-bold text-dark" href="#">Page four</a></li>
            </ul>
        </div>
        <div class="col-3 text-center">
            <a class="text-decoration-none fw-bold text-dark" href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a class="text-decoration-none fw-bold text-dark" href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="text-decoration-none fw-bold text-dark" href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>

    <div class="footer__seccio footer__seccio--uoc row h-100 p-3">
        <div class="col-2 text-center">
            <img class="img-fluid" src="/src/assets/images/logo.png" alt="Logo UOC" />
        </div>
        <div class="col-10">
            <p>&copy; Novembre 2023 - Roser Fuster Bertomeu </p>
        </div>
    </div>
</footer>