
    <div class="pagina" id="participants">
        <div class="participante">
        <img src="/src/assets/images/tenista1.png" alt="Tenista 1" class="imagen">
        <h2>Juan Pérez</h2>
        <p>Rango: 3</p>
        <p>Edad: 28</p>
        </div>

        <div class="participante">
        <img src="/src/assets/images/tenista1.png" alt="Tenista 2" class="imagen">
        <h2>María García</h2>
        <p>Rango: 1</p>
        <p>Edad: 25</p>
        </div>

        <div class="participante">
        <img src="/src/assets/images/tenista1.png" alt="Tenista 3" class="imagen">
        <h2>Carlos Rodríguez</h2>
        <p>Rango: 5</p>
        <p>Edad: 32</p>
        </div>


