@use "sass:color";

$mq-max-mobile-width: 767px;
$mq-min-tablet-width: 768px;
$mq-max-tablet-width: 1023px;
$mq-min-desktop-width: 1024px;
$font-title: "Outfit Variable", sans-serif;
$font-text: "Montserrat Variable", sans-serif;
$uoc-corporate: #000078;
$primary: #be9bff;
$secondary: #4c177a;
$subtitle-color: color.adjust(#000, $lightness: 50%);
$bg-color-primary: color.scale($primary, $lightness: 80%);
$navbar-light-color: $secondary;
$navbar-light-toggler-border-color: $bg-color-primary;
$navbar-light-brand-color: $uoc-corporate;
$card-title-color: $secondary;
$list-group-bg: $bg-color-primary;
$list-group-border-width: 0;
$uoc-corporate-p3: oklch(28.3% 0.163 275.1deg / 87.46%);
$primary-p3: oklch(71.96% 0.1608 299.07deg);
$secondary-p3: oklch(34.84% 0.155 303.22deg);
$subtitle-color-p3: oklch(43.77% 0.069 299.64deg / 70.65%);
$bg-color-primary-p3: oklch(71.96% 0.1608 299.07deg / 70%);