@use "sass:color";

$mq-max-mobile-width: 767px;
$mq-min-tablet-width: 768px;
$mq-max-tablet-width: 1023px;
$mq-min-desktop-width: 1024px;
$font-title: 'Outfit Variable', sans-serif;
$font-text: 'Montserrat Variable', sans-serif;
$uoc-corporate: #000078;
$primary-color: #be9bff;
$secondary-color: #4c177a;
$subtitle-color: color.adjust(#000, $lightness: 50%);
$bg-color-primary: color.scale($primary-color, $lightness: 80%);